<!DOCTYPE html>
<html>

<head>
    <title>Nachhaltigkeits Karte </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />



    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <h1>Unsere Nachhaltigkeitskarte</h1>
    <form action="{{ url_for("addLocation")}}">
        <input type="submit" value="Einen Eintrag hinzufügen" />
    </form>
    <div id="mapid"></div>


</body>
<script type="text/javascript">
    data = {{ data | tojson }}
</script>
<script src=" {{ url_for('static', filename='main.js') }}">
</script>
<script type="text/javascript" {{ url_for('static', filename='app.js')}}></script>


</html>